/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Info Message
# Light Box
# Simple Poll
# Single Poll Before Result
# Single Poll After Result
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Info Message
--------------------------------------------------------------*/
.wbpoll-voted-info {
    margin: 10px 0;
    padding: 16px;
    background: #4d90fd;
    color: #fff;
    border: 1px solid #3a8ace;
    border-radius: 8px;
}

.wbpoll-voted-info.wbpoll-success,
.wbpoll-qresponse-success {
    margin: 10px 0;
    padding: 16px;
    background: #60c060;
    color: #fff;
    border: 1px solid #54a754;
    border-radius: 8px;
}

.wbpoll-voted-info.wbpoll-alert {
    margin: 10px 0;
    padding: 16px;
    background: #fc9700;
    color: #fff;
    border: 1px solid #d68000;
    border-radius: 8px;
}

.wbpoll-voted-info.wbpoll-error {
    margin: 10px 0;
    padding: 16px;
    background: #da4932;
    color: #fff;
    border: 1px solid #ca452e;
    border-radius: 8px;
}

.wbpoll-qresponse-success p,
.wbpoll-voted-info p {
    margin: 0;
}

/*--------------------------------------------------------------
# Light Box
--------------------------------------------------------------*/
.wb-poll-lightbox {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.wb-poll-lightbox .close {
    position: absolute;
    right: 50px;
    top: 50px;
    display: grid;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 9999999px;
    background: rgba(0, 0, 0, 0.9);
    place-items: center;
    color: #fff;
    z-index: 2;
}

.wb-poll-lightbox .close:hover {
    background: #fff;
}

.wb-poll-lightbox .close:hover svg {
    color: #333;
}

/*--------------------------------------------------------------
# Simple Poll
--------------------------------------------------------------*/
/* .checkbox-alignment .poll-thumb-image,
.wbpoll-question-choices-item-votes .poll-thumb-image {
    width: 200px !important;
    margin: 10px !important;
} */

.content-area {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*--------------------------------------------------------------
# Single Poll Before Result
--------------------------------------------------------------*/
.wbpoll-form ul.wbpoll-form-ans-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wbpoll-form .wbpoll-form-ans-list .wbpoll-form-ans-listitem .wbpoll-question-choices-item-text {
    justify-content: flex-start;
}

.wbpoll-form .wbpoll-form-ans-list .wbpoll-form-ans-listitem .wbpoll-question-choices-item-text input[type=radio] {
    display: inline-block;
    margin: 0 15px 0 0 !important;
    outline: 0;
    position: relative;
    border-radius: 100px;
    width: 20px !important;
    height: 20px !important;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
}

.wbpoll-form .wbpoll_ajax_link .wbpoll_vote_btn {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-transform: inherit;
    text-align: center;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    box-shadow: unset;
    cursor: pointer;
}

.wbpoll-form-ans-listitem .poll-html {
    margin: 0 0 10px;
}

/* Image options */
.wbpolls-question-results.wbpoll-image,
.wbpolls-question-results.wbpoll-video,
.wbpolls-question-results.wbpoll-audio {
    display: flex;
    flex-flow: wrap;
    margin: 0 -15px;
}

.wbpolls-question-results.wbpoll-image .wbpoll-question-choices-item,
.wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item,
.wbpolls-question-results.wbpoll-audio .wbpoll-question-choices-item {
    width: calc(100% / 3);
    padding: 15px;
}

.wbpolls-question-results.wbpoll-image .wbpoll-question-choices-item .wbpoll-question-choices-item-container,
.wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item .wbpoll-question-choices-item-container,
.wbpolls-question-results.wbpoll-audio .wbpoll-question-choices-item .wbpoll-question-choices-item-container {
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    transition: all .3s linear;
}

.wbpolls-question-results.wbpoll-image .wbpoll-question-choices-item .wbpoll-question-choices-item-label,
.wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item .wbpoll-question-choices-item-label,
.wbpolls-question-results.wbpoll-audio .wbpoll-question-choices-item .wbpoll-question-choices-item-label {
    margin: 0;
    margin-top: auto;
    border-radius: 0;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.05);
}

.wbpolls-question-results.wbpoll-image .wbpoll-question-choices-item .wbpoll-question-choices-item-container:hover,
.wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item .wbpoll-question-choices-item-container:hover,
.wbpolls-question-results.wbpoll-audio .wbpoll-question-choices-item .wbpoll-question-choices-item-container:hover {
    box-shadow: 0 3px 24px 0 rgba(18, 43, 70, .08);
}

@media screen and (max-width: 767px) {
    .wbpolls-question-results.wbpoll-image .wbpoll-question-choices-item,
    .wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item,
    .wbpolls-question-results.wbpoll-audio .wbpoll-question-choices-item {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 480px) {
    .wbpolls-question-results.wbpoll-image .wbpoll-question-choices-item,
    .wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item,
    .wbpolls-question-results.wbpoll-audio .wbpoll-question-choices-item {
        width: 100%;
    }
}

/* Video options */
.wbpolls-question-results.wbpoll-video .wbpoll-question-choices-item-content .poll-video video {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
# Single Poll After Result
--------------------------------------------------------------*/
.wbpoll-question-choices-item-label {
    margin: 0 0 15px;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    transition: all .3s linear;
}

.wbpoll-question-choices-item-label:hover {
    box-shadow: 0 3px 24px 0 rgba(18, 43, 70, .08);
}

.wbpoll-question-choices-item-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-out;
}

.wbpoll-question-choices-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wbpoll-question-choices-item-content .poll-image {
    cursor: pointer;
}

.wbpoll-question-choices-item-content .poll-thumb-image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3e%3cdefs%3e%3cpath id='a' d='M0 0h24v24H0z'/%3e%3c/defs%3e%3cclipPath id='b'%3e%3cuse xlink:href='%23a' overflow='visible'/%3e%3c/clipPath%3e%3cpath clip-path='url(%23b)' fill='%23ffffff' d='M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z'/%3e%3cpath clip-path='url(%23b)' fill='none' d='M0 0h24v24H0z'/%3e%3c/svg%3e");
    background-color: rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: 0;
    opacity: 0;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-out;
    pointer-events: none;
}

.wbpoll-question-choices-item-content .poll-image:hover::after {
    opacity: 1;
    background-size: 36px;
}

.wbpoll-question-choices-item-text {
    display: flex;
    justify-content: space-between;
}

.wbpoll-question-choices-item-label .bpolls-item-width-wrapper {
    margin-top: 10px;
}

.wbpoll-question-choices-item-label .bpolls-item-width-wrapper .wbpoll-question-choices-item-votes-bar {
    height: 6px;
}

.wbpoll-question-choices-item-label .wbpoll-vote-percent-data {
    font-size: 12px;
    display: block;
    margin-top: 5px;
}