/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Poll icon pointer */
 .bpolls-html-container .bpolls-icon {
 	cursor: pointer;
 	display: inline-block;
    padding-top: 12px;
    padding-left: 12px;
 }
.bpolls-option {
	display: flex;
	width: 100%;
	max-width: 350px;
	margin-bottom: 5px;
}
.bpolls-input{
	display: inline-block;
	padding: 0 8.5px;
	margin-top: 0;
	margin-bottom: 0;
	height: 35px;
	border: 1px solid rgba(0,0,0,0.1);
	color: #333;
	font-size: 14px;
	line-height: 18px;
	background-color: #fff !important;
	transition: all .25s ease-in-out;
	box-shadow: none;
}
.bpolls-sortable-handle, .bpolls-option-delete{
	display: inline-block;
	width: auto;
	padding: 7.2px 8.5px !important;
	margin: 0;
	background: #EFEFEF !important;
	border: none !important;
	color: #424242 !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-decoration: none !important;
	text-transform: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	word-wrap: normal;
	-moz-hyphens: none;
	cursor: pointer;
}
.bpolls-option-delete{
	opacity: 0.3;
}
.bpolls-option-delete:hover {
    opacity: 1;
    color: red !important;
}
.bpolls-option-action {
	padding-top: 8.5px;
	/*padding-bottom: 8.5px;*/
}
.bpolls-add-option {
	color: #FFF !important;
	background: #00b0ff !important;
	padding: 5px 8.5px !important;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
	width: auto;
	padding: 7.2px 8.5px !important;
	margin: 0;
	border: none !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-decoration: none !important;
	text-transform: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	word-wrap: normal;
	-moz-hyphens: none;
	cursor: pointer;
}
.bpolls-option-action .bpolls-checkbox {
	display: inline-block;
	margin-top: 3px;
	margin-left: 14px;
	position: relative;
	line-height: 22px;
}
.bpolls-checkbox label {
	padding-left: 0;
	display: inline;
	margin: 0;
	clear: none;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	font-weight: 400;
	color: #7E7E7E;
    font-size: 12px;
}
.bpolls-polls-option-html{
	display: none;
	border: 1px solid #d1d1d1;
    margin-top: 12px;
    padding: 12px;
}
.bpolls-cancel-div{
	width:100%;
	/*max-width:350px;*/
}
.bpolls-cancel{
	float: right;
}
.bpolls-item {
	width: 100%;
	max-width: 75%;
	position: relative;
}
.bpolls-item-width {
	position: absolute;
	background-color: #d6d6d6;
	height: 100%;
}
.bpolls-check-radio-div {
	background-color: #f5f5f5;
	margin-bottom: 10px;
    padding: 5px 10px !important;
	padding: 2px;
	font-size: 12px;
	color: #7E7E7E;
}
.bpolls-percent {
	float: right;
	position: relative;
}
.bpolls-votes {
	font-size: 12px;
	color: #7E7E7E;
	position: absolute;
	left: 100%;
	width: auto;
    padding: 5px 10px;
	display: flex;
}
.bpolls-options-attach-items {
    margin-bottom: 5px;
}
.bpolls-vote-submit {
	font-size: 12px;
	background: #d6d6d6 !important;
	padding: 5px 10px;
	color: #424242 !important;
}
.bpolls-check-radio-div input, .bpolls-option-lbl, .bpolls-percent{
	position: relative;
}
.bpolls-option-lbl{
	cursor: pointer;
}
a.bpolls-cancel {
    display: block;
    border: 1px solid;
    padding: 1px 6px;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 12px;
}
a.bpolls-cancel:hover {
	border: 1px solid red;
	color: red;
}
.bpolls-option-action {
	display: flex;
    align-items: center;
}
input#bpolls-datetimepicker {
    height: 32px;
    margin-left: 12px;
    padding-left: 12px;
}
@media(max-width: 479px) {
	.bpolls-polls-option-html {
		margin-top: 50px;
	}
	.bpolls-option-action {
		display: block;
	}
	input#bpolls-datetimepicker {
		margin-left: 0;
		margin-top: 12px;
	}
}

/* sidebar select */

p.bpolls-activity-select label {
    margin-bottom: 10px;
    display: block;
}
select.bpolls-activities-list {
    box-shadow: none;
    background-image: none;
    border-radius: 0;
    display: block;
    height: 38px;
}
