/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Info Message
# Light Box
# Simple Poll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Info Message
--------------------------------------------------------------*/
.wbpoll-voted-info {
    margin: 10px 0;
    padding: 16px;
    background: #4d90fd;
    color: #fff;
    border: 1px solid #3a8ace;
    border-radius: 8px;
}

.wbpoll-voted-info.wbpoll-success {
    margin: 10px 0;
    padding: 16px;
    background: #60c060;
    color: #fff;
    border: 1px solid #54a754;
    border-radius: 8px;
}

.wbpoll-voted-info.wbpoll-alert {
    margin: 10px 0;
    padding: 16px;
    background: #fc9700;
    color: #fff;
    border: 1px solid #d68000;
    border-radius: 8px;
}

.wbpoll-voted-info.wbpoll-error {
    margin: 10px 0;
    padding: 16px;
    background: #da4932;
    color: #fff;
    border: 1px solid #ca452e;
    border-radius: 8px;
}

/*--------------------------------------------------------------
# Light Box
--------------------------------------------------------------*/
.wb-poll-lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.wb-poll-lightbox .close {
    position: absolute;
    right: 50px;
    top: 50px;
    display: grid;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 9999999px;
    background: rgba(0, 0, 0, 0.9);
    place-items: center;
    color: #fff;
}

.wb-poll-lightbox .close:hover {
    background: #fff;
}

.wb-poll-lightbox .close:hover svg {
    color: #333;
}

/*--------------------------------------------------------------
# Simple Poll
--------------------------------------------------------------*/
.checkbox-alignment .poll-thumb-image,
.per_question_result .poll-thumb-image {
    width: 200px !important;
    margin: 10px !important;
}

.content-area {
    margin: 5rem auto;
    display: table;
}

.checkbox-alignment {
    display: unset;
}

li.wbpoll-form-ans-listitem {
    list-style: none;
    margin-bottom: 20px;
}

label.wbpoll_single_answer_label {
    margin: 10px;
}

span.wbpoll_single_answer.wbpoll_single_answer-text {
    font-weight: 700;
}

/*--------------------------------------------------------------
# single Poll Result
--------------------------------------------------------------*/
.bpolls-item-width-wrapper {
    background: #c9c9c9;
    border-radius: 10px;
}

.bpolls-item-width {
    padding: 5px;
    border-radius: 10px;
}

strong.votecount-right {
    float: right;
}

.per_question_result {
    padding: 10px 0;
}

.per_question_result li {
    list-style: none;
}
