/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*----------  Active tab design  ----------*/
.nav-tab.active {
    background: #f1f1f1;
    color: #000;
}
.nav-tab-wrapper ul li.Support a.nav-tab:before{
    content: "\f125";
}
.nav-tab-wrapper ul li.General a.nav-tab:before {
    content: "\f111";
}
.wbcom-welcome-head h2.wbcom-welcome-title {
    padding: 18px 25px;
    font-size: 15px;
    background: #2094F3;
    color: #fff;
    margin: 0 -15px 20px;
}
.wbcom-welcome-main-wrapper {
    position: relative;
    font-size: 15px;
    background: #f6f6f6;
    padding: 0 15px 15px;
    margin: 25px 0;
}
.wbcom-video-link-wrapper {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    align-items: center;
    background: #fff;
    padding:10px;
}
.wbcom-video-link-wrapper iframe,
.wbcom-video-link-wrapper .col-right,
.wbcom-video-link-wrapper .fluid-width-video-wrapper {
    width: 48%;
    padding:1%;
}
.wbcom-video-link-wrapper .fluid-width-video-wrapper {
    padding-top: 0 !important;
    height: 380px;
}
.wbcom-admin-title-section h3 {
    padding: 18px 25px;
    font-size: 15px;
    background: #2094F3;
    color: #fff;
    margin: 0 -15px 20px;
}
.wbcom-wrapper-admin {
    position: relative;
    font-size: 15px;
    background: #f6f6f6;
    padding: 0 15px 15px;
    margin: 25px 0;
}
.wbcom-admin-option-wrap{
    background-color: #fff;
}
.wbcom-admin-option-wrap .form-table th {
    padding: 20px;
}

/*----------  General tab design  ----------*/
@media screen and (max-width: 782px) {
    .form-table.polls-general-options label {
        font-size: 14px;
        display: inline-block;
        margin: 0.35em 0 0.5em !important;
    }
}

/*----------  Support tab css  ----------*/
.bpolls-support-setting{
    width:100%;
}
.bpolls-faq-row{
    clear: both;
    overflow: hidden;
    padding-bottom: 5px;
}
.bpolls-admin-col-12 {
    float: left;
    padding:5px 0;
    width: 100%;
}
button.bpolls-accordion {
    background-color: hsl(0, 0%, 87%);
    border: medium none;
    color: hsl(0, 0%, 27%);
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    outline: medium none;
    padding: 15px 20px;
    text-align: left;
    transition: all 0.4s ease 0s;
    width: 100%;
}
button.bpolls-accordion.active, button.bpolls-accordion:hover {
    background-color: hsl(207, 90%, 54%);
    color:white;
}
div.bpolls-panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
}
button.bpolls-accordion::after {
    color: hsl(0, 0%, 47%);
    content: "+";
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
button.bpolls-accordion::after:hover {
    color: white;
}
button.bpolls-accordion.active::after {
    content: "−";
    color:white;
}
.bpolls_excluding_member{
    width:70%;
}
.bpolls-faqs-block-contain {
    padding: 15px;
    background: #fff;
}
.wbcom-welcome-support-info {
    box-shadow: none;
}
.wbcom-welcome-support-info .col p {
    height:70px;
}

@media only screen and (max-width: 600px) {
.wbcom-video-link-wrapper iframe, .wbcom-video-link-wrapper .col-right {
    width:100%;
}

}


